body
{
    padding: 0;
    margin: 0;
}
#container
{
    width: 100%;
    display: flex;
    height: 100%;
}
#reklama
{
    width: 20%;
}
#reklama img
{
    width: 100%;
    object-fit: cover;
    height: 100%;

}
#contencik
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}
#starter
{
    height: 200px;
    width: 100%;
    background-color: aqua;
    border: 2px solid seagreen;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#zakladka
{
    height: 100px;
    font-size: medium;
    font-family: cursive;
    width: 70px;
    text-align: center;
}
#zawartosc
{
    width: 100%;
    border-left: 3px solid burlywood;
    border-bottom: 3px solid burlywood;
    border-right: 3px solid burlywood;
    border-radius: 30px;
    height: 682px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#dzien
{
    display: flex;
    justify-content: center;
}
#info
{
    height: 8%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#formularz
{
    width: 40%;
    display: flex;
    font-family: cursive;
}
#ramka
{
    width: 100%;
    height: 150px;
}
#pole
{
    padding-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px gold;
    
}
#przycisk
{
    margin-right: 20px;
    margin-top: 5px;
    float: right;
}
#opis
{
    width: 100%;
    float: left;
}
#dodaj_trening
{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
#pole_treningu
{
    border: 3px solid rgb(45, 179, 18);
    border-radius: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
    justify-content: space-around;
}
#rodzic
{
    width:100%;
    display: flex;
    height: 80%;
}
#images
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#posrednik
{
    height: 100%;
    width: 100%;
    display: flex;
    

}
#dzien_tyg
{
    display: flex;
    align-items: center;
}
#day
{
    height: 100px;
    align-items: center;
}
.rozmiar input
{
    width: 70px;

}
#dodaj
{
    border-radius: 20px; 
    border: 3px solid rgb(10, 6, 204);
    width: 60%;
    height: 6%;
    display: none;
    justify-content: space-around;
    align-items: center;
}
#poniedzialek
{
    display: none;
    height: 100%;
    font-size: 20px;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
} 
#przyciski
{
    float:left;
    width: 720px;
}
#przyciszczek1
{
    float: left;
    margin-left: 100px;
    margin-right: 160px;
    margin-top: 20px;
}
#przyciszczek2
{
    float: left;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 160px;
}
#sroda div
{
    height: 50px;
    font-size: 20px;
}
#sroda
{
    height: 522px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
}
#piatek div
{
    height: 50px;
    font-size: 20px;
}
#piatek
{
    height: 522px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
}